*{
    box-sizing: border-box;
}

.ProductCards {
    margin: 1rem auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}


.product-card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 275px;
    height: 375px;
    color: #292f33;
    box-shadow: 0px 10px 5px #aaaaaa;
    border: 2px solid #ccc;
    border-bottom: 5px solid rgba(73, 63, 252, 1);
    background-color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



.product-image {
    height: 60%;
    width: 100%;
    padding: 4px 0;
    border-bottom: solid 5px black;
}

.product-name {
    margin: 5px 0 0 10px;
    font-size: 20px;
}
.product-price, .product-price p{
    font-size:16px;
    font-weight: 300;
    margin: 5px 0 0 10px;
}

.cart-btn {
    width: 50%;
    height: 40px;
    margin: auto;
    bottom: 0;
    padding-bottom: 5px;
    outline: none;
    border-radius: 5px;
    background: #4ad9e4;
    color: #292f33;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.cart-btn:hover {
    transform: scale(1.04);
}


@media screen and (max-width: 1250px){
    .ProductCards{
        width: 80%;
    }
}

@media screen and (max-width: 960px) {
    .ProductCards{
        display: block;
        width: 100%;
        margin: auto;
    }
    .product-card{
        width: 90%;
        margin: 30px auto auto auto;
        height: 500px;
    }
    .product-image{
        height: 60%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

}
