.item-row{
    display: flex;
    margin: 1rem auto;
    background-color: white;
    justify-content: space-evenly ;
    border-radius: 16px;
    align-items: center;
    max-width: 70%;
    
}

.item-image, .item-name, .item-price, .item-remove, .item-total{
    margin: 2rem 1rem;
}

.item-name{
    width: 150px;
}

.item-remove, .item-total{
    padding: 1rem;
}



.inner-cart-btns{
    margin:2rem 0.2rem 2rem 2rem;
    width: 145px;
}


.decrement-btn, .increment-btn{
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #292f33;
    border: 0.1rem solid #292f33;
    padding: 8px 10px;
    cursor: pointer
}
.decrement-btn, .increment-btn, .active-count{
    margin: 0.5rem;
}


.decrement-btn:hover{
    font-size: 1.2rem;
    background: #eed202;
}

.increment-btn:hover{
    font-size: 1.2rem;
    background: #4BB543;
} 


.fa-times{
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 960px) {
    .item-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
    }
}


