.featured-wrapper {
    margin: 0.5rem 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.featured-wrapper h1{
    width: 100%;
    color: #141823;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}

@media screen and (max-width: 960px){
    .featured-wrapper{
        margin: 0;
        padding: 0;
    }

    .featured-wrapper h1{
        padding: 10px 0;
        margin: 0;
    }
}
