.ProductCards {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.product-card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 275px;
    height: 375px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.product-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
}

.product-head{
    text-align: center;
    background: #ccc;
    border-bottom: 5px solid black;
    padding: 0;
    margin: 0;
}

.product-head h1{
    margin: 0;
    padding: 1rem;
}

.product-cards-wrapper { 
    display: flex;
    
    justify-content: left;
    flex-wrap: wrap;
    margin: 24px auto;
    width: 60%;

}
.card-wrapper{
    width: 45%;
    margin-right: 5%;
}
.product {
    display: flex;
   
    margin: 1rem;
    width: 100%;
    height: 300px;
    color: #292f33;
    box-shadow: 0px 10px 5px #aaaaaa;
    border: 2px solid #ccc;
    border-bottom: 3px solid rgba(73, 63, 252, 1);
    background-color: #fff;
    
    text-align: center;
}



.product a{
    margin: auto 0;
    padding: 0;
    height: 90%;
    width: 50%;
}
.product-image {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4px 0;
    
}

.product-card-details{
    width: 50%;
    text-align: left;
    margin-left: 2rem;
    height: 50%
}

.product-name {
    margin: 15px 0 0 0;
    font-size: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.logo-image{
    object-fit: contain;
}
.product-price, .product-price p{
    font-size: 18px;
    font-weight: 500;
    margin: 16px 8px 16px 0;
}

.price-view-details{
    display: flex;
    flex-direction: column;
}
.view-details {
    display: block;
    
    outline: none;
    border: none;
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: linear-gradient(to right, #0BFFFF 50%, #6668f4 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
}

.view-details:hover {
    background-position: left bottom;
    cursor: pointer;
}


.fa-star{
    font-size: 12px;
    color: #FFD700;
}

@media screen and (max-width: 960px) {
    .ProductCards{
        flex-direction: column;
    }
    .product-cards-wrapper{
        display: block;
        width: 95%;
        margin: auto;
    }
    .card-wrapper{
        margin: 8px auto;
        width: 75%;
    }
    .product{
        flex-direction: column;
        width: 100%;
        margin: 30px auto auto auto;
        height: 500px;
        position: relative;
    }
    .product a{
        
        
        height: 40%;
        width: 100%;
    }
    .product-image{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .product-card-heading{
        width: 90%;
    }
    .product-card-details{
        width: 90%;
        text-align: left;
    }
    .product-name{
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }
    .product-price{
        margin: 1rem 16px 1rem 0;
        
    }
    .price-view-details{
        flex-direction: column;
        width: 90%;
    }
    

}