.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inner {
    width: 25%;
    height: 60%;
    background: #EEEEEE;
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-image {
    max-width: 100%;
    max-height: 55%;
}

.modal-continue, .modal-cart{
    padding: 16px;
    border-radius: 10px;
    margin: 0.5rem;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    background: white;
    color: #7577fa;
}


.modal-continue:hover, .modal-cart:hover{
    background: #7577fa;
    color: white;
    border: 2px solid  #4ad9e4;
}

@media screen and (max-width: 960px){
    .modal-inner{
        width: 80%;
        height: 55%
    }
}
