.ram-bestseller {
  width: 100%;
  margin: 0 auto;
  background-image: url(../../../public/assets/bannerBackground.jpg);
  background-repeat: repeat-x;
  display: block;
  max-width: 1600px;
}

.bestseller-img {
  vertical-align: middle;
  height: 50px;
}

@media screen and (max-width: 960px) {
  .ram-bestseller {
    width: 100%;
  }
  .bestseller-img {
    width: 100%;
    object-fit: contain;
  }
}
