.newPage{
    width: 60%;
    height: 100%;
    margin: 20px auto;
    max-width: 1600px;
}

.newPage-wrapper{
    width:100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 300px;
    
    margin: auto;

     
}

.card a{ 
    width: 100%;
    height: 80%;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-text{                        
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.card:hover{
    transform: scale(1.01);
    cursor: pointer;
    
}

@media (max-width: 1366px){
    .newPage{
        width: 98%
    }
    .newPage-wrapper{
        width: 100%;
    }
    .card{
        width: 50%;
        height: 300px;
        margin: 15px 0;

    }
}