.deal-div{
    width: 75%;
    height: 100%;
    margin: 30px auto; 
}

.deal-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    
}

.deal-img{
    width: 40%;
    height: 40%;
    
}


.deal-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.deal-details{
    width: 40%;
    height: 100%;
    border-left: 1px solid black;
    padding-left: 10px;
    
}

.deal-name h1{
    font-weight: 300;
}

.deal-price{
    display: flex;
    
}

.deal-desc h2{
    font-weight: 300;
}

.deal-desc{
    margin-top: 5%
}
.deal-desc li{
    font-size: 20px;
    font-weight: 200;
}

.deal-more{
    margin-top: 60px;
}

.extra-deal-wrapper{
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
}

.extra-deal{
    width: 80px;
    width: 80px;
    margin-left: 30px;
}

.extra-deal-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.all-products-button{
    padding: 16px 32px;
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: linear-gradient(to right, #45a29e 50%, #1E1E1E 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
}
.all-products-button:hover{
    background-position: left bottom;
    cursor: pointer;
}

.home-add-to-cart{
    padding: 16px 32px;
    margin-left: 8px;
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(to right, #45a29e 50%, #1E1E1E 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    cursor: pointer;
}
.home-add-to-cart:hover{
    background-position: left bottom;
    cursor: pointer;
}

@media (max-width: 960px){
    .deal-wrapper{
        flex-direction: column;
    }
    .deal-img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .deal-details{
        border-left: 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-bottom: 40px;
        width: 100%;
        margin-top: 60px;
    }
    .home-add-to-cart{
        margin: 24px 0 0 0;
        padding: 16px 50px;
    }
}