.processors-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
}

.processors-head{
    text-align: center;
    background: #ccc;
    border-bottom: 5px solid black;
    padding: 0;
    margin: 0;
}

.processors-head h1{
    margin: 0;
    padding: 1rem;
}

.cpu-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 60%;

}

.processors {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 275px;
    height: 375px;
    color: #292f33;
    box-shadow: 0px 10px 5px #aaaaaa;
    border: 2px solid #ccc;
    border-bottom: 5px solid rgba(73, 63, 252, 1);
    background-color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.processors a{
    margin: 0;
    padding: 0;
    height: 60%;
    width: 100%;
}
.cpu-image {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4px 0;
    border-bottom: solid 5px black;
}

.cpu-name {
    margin: 5px 0 0 10px;
    font-size: 20px;
}
.cpu-price, .cpu-price p{
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0;
}

.view-btn {
    width: 50%;
    height: 40px;
    margin: auto;
    bottom: 0;
    padding-bottom: 5px;
    outline: none;
    border-radius: 5px;
    background: #4ad9e4;
    color: #292f33;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Monda', sans-serif;
}

.view-btn:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 960px) {
    .cpu-card-wrapper{
        display: block;
        width: 100%;
        margin: auto;
    }
    .processors{
        width: 90%;
        margin: 30px auto auto auto;
        height: 500px;
    }
    .cpu-image{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .cpu-price{
        margin: 1rem 0;
        
    }

}