@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

.detail-wrapper { 
    height: 60%;
    width: 100%;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}


.product-detail-wrapper {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

.prod-image { 
    height: 550px;
    width: auto;
}

.prod-image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.prod-details {
    width: 40%;
    min-height: 100%;
    text-align: left;
    
    
}
.prod-details h1, .prod-details h2{
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
}



.add-to-cart{
    height: 50px;
    width: 20%;
    background: linear-gradient(90deg, #6568f4,  #4ad9e4);
    background-color: linear-gradient(90deg, #6568f4,  #4ad9e4);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}


.add-to-cart:hover{
    background-color: #4BB543;
    transform: scale(1.05)
}

.back-btn, .add-to-cart{
    padding: 1rem 0;
    
}

.prod-specs {  
    margin: 2rem 0;
    width: 70%;
    text-align: left;
    padding: 0.5rem 0;
    white-space: pre-wrap;
    border-top: 2px solid linear-gradient(90deg, #6568f4,  #4ad9e4);
}

.recommended-review-wrapper{
  width: 50%;
  margin: 0 0 0 10%;
}


@media (max-width: 960px) {
    .product-detail-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin-bottom: 1rem;
    }
    .detail-wrapper{
        height: 100%;
    }

    .prod-details, .prod-image {
        width: 90vw;
        height: auto;
        margin: 1rem auto;

    }
    .add-to-cart{
        width: 40%;
        text-align: center;
    }
    .prod-specs{
        width: 100%;
        margin: 1rem 0;
        padding: 0;
        height: auto;
    }
    .recommended-review-wrapper{
      width: 100%;
      height: 500px;
    }
    




}