.detail-wrapper { 
    height: 60%;
    width: 100%;
}
.detail-header {
    width: 100%;
    height: 80px;
    background:#3acbf7;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size: 18px;
    font-weight: 900;

}

.product-detail-wrapper {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}

.prod-image {
    height: 550px;
    width: auto;
}

.prod-image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.prod-details {
    width: 900px;
    min-height: 100%;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    border-bottom: 5px solid #3acbf7;
    padding: 0;
    
}
.prod-details h2{
    padding: 1rem 0;
    margin: 1rem 0;
    font-family: 'Open Sans', serif;
}
.back-btn{
    height: 50px;
    width: 40%;
    background-color:#f89858;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.back-btn:hover {
    background-color: #eed202;
    color: black;
}

.add-to-cart{
    height: 50px;
    width: 40%;
    background-color: #6668f4;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}


.add-to-cart:hover{
    background-color: #4BB543;
    transform: scale(1.05)
}

.back-btn, .add-to-cart{
    padding: 1rem 0;
    
}

.prod-specs {  
    margin: 2rem 0;
    text-align: left;
    padding: 0.5rem 0;
    white-space: pre-wrap;
    border-top: 2px solid #f89858;
}


@media (max-width: 960px) {
    .product-detail-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin-bottom: 1rem;
    }
    .detail-wrapper{
        height: 100%;
    }

    .prod-details, .prod-image {
        width: 90vw;
        height: auto;
        margin: 1rem auto;

    }
    .prod-specs{
        width: 100%;
        margin: 1rem 0;
        padding: 0;
        height: auto;
    }



}