.footer-wrapper {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100% );
    width: 100%;
    display: block;
    margin-top: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    color: white;

}

.newsletter {
    margin: 30px 2rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.newsletter input{
    border-radius: 5px 0 0 5px;
    padding: 16px;
    outline: none;
    border: none;
}
.newsletter-btn{
    border-radius: 0 5px 5px 0;
    padding: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}


ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

.footer-list{
    margin: 30px 2rem;
    padding: 1rem;
    font-size: 20px;
}
.social-links {
    margin: 0;
    padding: 0;
}

.fab {
    font-size: 28px;
    margin: 5px;
}

@media (max-width: 960px){
    
    .footer-wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .footer {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .newsletter{
        margin: 1rem 0 1rem 40px
    }
    .footer-list {
        margin: 20px 60px 0 60px;
    }
    .social-links {
        display: inline;
    }
}