*{
    box-sizing: border-box;
}

.ProductCards {
    margin: 2% auto auto auto;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.product-card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 275px;
    height: 375px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 2px solid teal;
}

.product-card:hover {
    transform: scale(1.1);
}

.product-image {
    margin: 1rem;
    height: 60%;
    width: 90%;
}

.product-name {
    font-size: 1.3rem;
    color: black;
}
.product-price, .product-price p{
    margin-top: 0;
    padding: 0;
}
